Source: unclutter
Section: x11
Priority: optional
Maintainer: Daniel Baumann <daniel@lists.debian-maintainers.org>
Uploaders: Daniel Baumann <daniel@debian.org>
Build-Depends: debhelper (>= 7.0.50~), libx11-dev, quilt (>= 0.46-7)
Standards-Version: 3.8.3
Vcs-Browser: http://git.debian-maintainers.org/?p=daniel/unclutter.git
Vcs-Git: git://git.debian-maintainers.org/git/daniel/unclutter.git

Package: unclutter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: hides the cursor in X after a period of inactivity
 unclutter hides your X mouse cursor when you don't need it, to prevent it
 from getting in the way. You have only to move the mouse to restore the
 mouse cursor.
